<ion-header>
  <ion-navbar>
    <ion-title>Tournaments</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let tournament of tournaments">
      <ion-card>
        <ion-card-title text-center>
          {{tournament.name}}
        </ion-card-title>
        <ion-card-header>
          <div class="tournament-description">
            <chess-like text-pos="You 64 this" text-neg="I 64 this!"></chess-like>
            <div class="tournament-description__dates">
              Dates: {{tournament.dates.start}} - {{tournament.dates.end}}
            </div>
            <div class="tournament-description__place">
              Place: {{tournament.place.city}}, {{tournament.place.country}}
            </div>
            <div class="tournament-description__type">
              Type: {{tournament.type}}
            </div>
            <div class="tournament-description__type">
              System: {{tournament.system}}
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-row *ngIf="tournament.participants">
            Participants:
            <ion-list>
              <ion-item *ngFor="let participant of tournament.participants">
                {{participant}}
              </ion-item>
            </ion-list>
          </ion-row>
        </ion-card-content>
        <button ion-button full (click)="saveEvent(tournament)">
          <ion-icon name="calendar"></ion-icon>
          <div right>Save to calendar</div>
        </button>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
